.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0.6;
}

.task {
  list-style: none;

  .task-content-wrapper {
    display: flex;

    .task-content {
      flex: 1;

      .task-title {
        margin-bottom: 5px;
      }
    }
  }
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  height: calc(100% - 80px);

  .column:not(:last-child) {
    margin-right: 10px;
  }

  .column {
    background: #eff1f3;
    border: 1px solid #e1e4e8;
    border-radius: 7px;
    flex: 1;
    padding: 0 10px;
    min-width: 250px;
    max-width: 350px;
    display: flex;
    flex-direction: column;

    .header-divider {
      margin-bottom: 15px;
    }

    .column-header {
      display: flex;

      .status {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 12px 0;
      }
    }

    .tasks-list {
      padding: 0;
      margin-top: 0px;
      flex: 1;

      .task:hover {
        cursor: move;
      }

      .task:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
