<mat-toolbar color="accent">
  <span>Task Management</span>
  <span style="flex: 1;"></span>
  <button mat-raised-button color="primary" (click)="logOut()">Sign Out</button>
</mat-toolbar>

<div class="columns" *ngIf="tasks$ | async as groupedTasks">
  <div class="column" *ngFor="let status of columnOrder">
    <div class="column-header">
      <div class="status">
        <div [matBadge]="groupedTasks[status].length" matBadgeOverlap="false">
          {{status | appTitlecase}}
        </div>
      </div>
      <span style="flex: 1"></span>
      <button mat-icon-button *ngIf="status === 'OPEN'" (click)="openCreateDialog(groupedTasks[status])">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-divider class="header-divider"></mat-divider>
    <ul class="tasks-list" cdkDropList [id]="status" [cdkDropListData]="groupedTasks[status]"
      [cdkDropListConnectedTo]="columnOrder" (cdkDropListDropped)="dropTask($event)">
      <li class="task" *ngFor="let task of groupedTasks[status]" cdkDrag>
        <mat-card>
          <mat-card-content class="task-content-wrapper">
            <div class="task-content">
              <div class="task-title">
                <a href="#">#{{task.id}} {{task.title}}</a>
              </div>
              <div>
                last updated at {{task.updatedAt | date}}
              </div>
            </div>
            <div class="delete-task">
              <button mat-icon-button color="warn" (click)="deleteTask(groupedTasks[status], task)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
  </div>
</div>